BeautifulSoup
Django>=1.8,<1.9
Pillow==2.3.0
django-avatar==2.0
django-compressor==1.4
django-countries==3.3
django-dotenv==1.4.1
git+https://github.com/divio/django-mailchimp.git
django-notification==1.3.3
django-photologue==2.3
django-profiles2==0.7
dj-database-url==0.4.0
django-registration-redux==1.2
django-social-auth==0.7.28
django-zipfile==0.1.7
git+git://github.com/ericbuckley/django-simple-honeypot.git@f069b4d2550effefb7d98b0f58cfd19aba26b23f#egg=django-simple-honeypot
git+https://github.com/django-tastypie/django-tastypie.git
docutils==0.6
httplib2==0.7.4
mimeparse==0.1.3
mock==0.7.2
oauth==1.0.1
oauth2==1.5.167
pep8==0.6.1
poster==0.8.1
psycopg2==2.6.1
https://cairographics.org/releases/py2cairo-1.8.10.tar.gz#egg=pycairo
pyflakes==0.4.0
pyglet==1.1.4
python-dateutil==2.4.2
python-openid==2.2.5
python-digest==1.7
redis==2.10.1
hiredis==0.1.3
django-redis-cache==0.13.0
git+https://github.com/kennethreitz/envoy.git
celery==3.1.18
django-celery==3.1.16
git+https://github.com/cypreess/django-plans.git
stripe==1.18.0
