{% extends "gridder_base.html" %}
{% load i18n %}

{% block title %}{% trans "Password change" %} | PDFGridder{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-12">
    <h3>{% trans "Password change" %}</h3>

    <form action="" method="post" class="form-horizontal" accept-charset="utf-8">{% csrf_token %}
        <fieldset>
            <p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>

            <div class="form-group {% if form.old_password.errors %}error{% endif %}">
              <label class="control-label col-sm-2" for="id_old_password">{% trans 'Old password' %}</label>
              <div class="col-sm-3">
                <input id="id_old_password" maxlength="254" name="old_password" type="passwor" class="form-control">
                {% if form.old_password.errors %}<span class="help-inline">{% for error in form.old_password.errors %}{{error}} {% endfor %}</span>{% endif %}
              </div>
            </div>

            <div class="form-group {% if form.new_password1.errors %}error{% endif %}">
              <label class="control-label col-sm-2" for="id_new_password1">{% trans 'New password' %}</label>
              <div class="col-sm-3">
                <input id="id_new_password1" maxlength="254" name="new_password1" type="passwor" class="form-control">
                {% if form.new_password1.errors %}<span class="help-inline">{% for error in form.new_password1.errors %}{{error}} {% endfor %}</span>{% endif %}
              </div>
            </div>

            <div class="form-group {% if form.new_password2.errors %}error{% endif %}">
              <label class="control-label col-sm-2" for="id_new_password2">{% trans 'Password (again)' %}</label>
              <div class="col-sm-3">
                <input id="id_new_password2" maxlength="254" name="new_password2" type="passwor" class="form-control">
                {% if form.new_password2.errors %}<span class="help-inline">{% for error in form.new_password2.errors %}{{error}} {% endfor %}</span>{% endif %}
              </div>
            </div>
        </fieldset>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-3">
                <button type="submit" class="btn btn-primary">{% trans 'Change my password' %}</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
