{% extends "gridder_base.html" %}

{% block title %}Signup | PDFGridder{% endblock %}

{% block extrahead %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/login.css" type="text/css" charset="utf-8" />
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-4">
        <form action="." class="form-horizontal" method="post" accept-charset="utf-8">
            <fieldset>
                <legend>Create a new user</legend>
                <div class="form-group {% if form.username.errors %}error{% endif %}">
                  <label class="col-sm-3 control-label" for="id_username">Username</label>
                  <div class="col-sm-7">
                    <input id="id_username" maxlength="30" name="username" type="text" class="form-control">
                    {% if form.username.errors %}<span class="help-inline">{% for error in form.username.errors %}{{error}} {% endfor %}</span>{% endif %}
                  </div>
                </div>

                <div class="form-group {% if form.email.errors %}error{% endif %}">
                  <label class="col-sm-3 control-label" for="id_email">Email</label>
                  <div class="col-sm-7">
                    <input type="email" class="input required form-control" id="id_email" name="email" maxlength="254">
                    {% if form.email.errors %}<span class="help-inline">{% for error in form.email.errors %}{{error}} {% endfor %}</span>{% endif %}
                  </div>
                </div>

                <div class="form-group {% if form.password1.errors %}error{% endif %}">
                  <label class="col-sm-3 control-label" for="id_password1">Password</label>
                  <div class="col-sm-7">
                    <input id="id_password1" name="password1" type="password" class="form-control">
                    {% if form.password1.errors %}<span class="help-inline">{% for error in form.password1.errors %}{{error}} {% endfor %}</span>{% endif %}
                  </div>
                </div>

                <div class="form-group {% if form.password2.errors %}error{% endif %}">
                  <label class="col-sm-3 control-label" for="id_password2">Password</label>
                  <div class="col-sm-7">
                    <input id="id_password2" name="password2" type="password" class="form-control">
                    {% if form.password2.errors %}<span class="help-inline">{% for error in form.password2.errors %}{{error}} {% endfor %}</span>{% endif %}
                  </div>
                </div>
                {% csrf_token %}
            </fieldset>
            <div class="form-group">
              <div class="col-sm-offset-3 col-sm-7">
                <button type="submit" class="btn btn-primary required">Sign me up &rarr;</button>
              </div>
            </div>
        </form>
    </div>
    <div class="col-md-4">
        {% include "registration/social_login.html" %}
    </div>
</div>
{% endblock %}
