{% extends "gridder_base.html" %}

{% block title %}Create Profile | PDFGridder{% endblock %}

{% block pagetitle %}
<h2 class="pageTitle">Create Profile</h2>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <form action="." class="form-horizontal" method="post" accept-charset="utf-8">
            <legend>Create Profile</legend>
            {% include "profiles/profile_form.html" %}
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="button" class="btn btn-primary">Continue &rarr;</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
