{% extends 'gridder_base.html' %}
{% load i18n %}
{% load url from future %}

{% block title %}Billing info | PDFGridder{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <form action="{% url 'billing_info_update' %}" method="post" class="form-horizontal">
            <legend>Provide billing data</legend>
            {% include "plans/billinginfo_form.html" %}
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
